---
import PostList from "@components/post-list.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
---

<!doctype html>
<html lang="ko">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="bg-gradient-to-b from-gray-100 to-white bg-[length:100%_600px] bg-no-repeat font-nanum-gothic text-gray-700"
  >
    <Header />
    <main class="mx-auto max-w-full px-8 py-5 md:max-w-screen-lg md:px-0">
      <section>
        <PostList />
      </section>
    </main>
    <Footer />
  </body>
</html>
