---
import PostList from '@components/post-list.astro';
import BaseLayout from '@layouts/base/index.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <PostList />
  </section>
</BaseLayout>
