---
import ExternalLink from '@components/external-link.astro';
import Icon from 'astro-icon';
const today = new Date();
---

<footer
  class="bg-white bg-gradient-to-b from-gray-100 to-white bg-no-repeat px-4 py-8 text-center text-gray-500 dark:bg-gray-900 dark:from-gray-800 dark:to-gray-900 dark:text-gray-400"
>
  <div>&copy; {today.getFullYear()} autroshot. All rights reserved.</div>
  <div class="mt-3 flex items-center justify-center">
    <span class="relative bottom-1">Powered by</span>
    <span class="ml-2.5">
      <ExternalLink href="https://astro.build">
        <span class="sr-only">Astro로 가기</span>
        <Icon name="logos:astro-dark" class="w-24" />
      </ExternalLink>
    </span>
  </div>
  <div class="mt-4 flex justify-center">
    <ExternalLink href="https://github.com/autroshot/dev-archive">
      <span class="sr-only">깃허브 저장소로 가기</span>
      <Icon
        name="logos:github"
        class="w-8 hover:text-gray-700 hover:dark:text-gray-300"
      />
    </ExternalLink>
  </div>
</footer>
