---
import ExternalLink from '@components/external-link.astro';
import Icon from 'astro-icon';
import { SITE_TITLE } from '../../consts';
import HeaderLink from './header-link.astro';
---

<header class="bg-white px-5 shadow-md shadow-gray-200">
  <nav class="flex items-center justify-between">
    <h2 class="font-bold"><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <div class="hidden md:flex">
      <ExternalLink href="https://github.com/autroshot/dev-archive">
        <span class="sr-only">깃허브 저장소로 가기</span>
        <Icon name="logos:github" class="w-8" />
      </ExternalLink>
    </div>
  </nav>
</header>
