---
import ExternalLink from '@components/external-link.astro';
import Theme from '@components/theme.astro';
import Icon from 'astro-icon';
import { SITE_TITLE } from '../../consts';
import HeaderLink from './header-link.astro';
---

<header
  class="bg-white px-5 shadow-md shadow-gray-200 dark:bg-gray-900 dark:shadow-gray-700"
>
  <nav class="flex items-center justify-between">
    <h2 class="font-bold"><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">홈</HeaderLink>
      <HeaderLink href="/blog">블로그</HeaderLink>
    </div>
    <div class="hidden space-x-3 md:flex">
      <Theme />
      <ExternalLink href="https://github.com/autroshot/dev-archive">
        <span class="sr-only">깃허브 저장소로 가기</span>
        <Icon
          name="logos:github"
          class="w-8 text-gray-700 hover:text-gray-500 dark:text-gray-300 hover:dark:text-gray-400"
        />
      </ExternalLink>
    </div>
  </nav>
</header>
