---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    "inline-block border-b-4 px-2 py-4",
    isActive ? "border-cyan-700 font-bold" : "border-transparent",
    className,
  ]}
  {...props}
>
  <slot />
</a>
