---
import Footer from '@layouts/base/footer.astro';
import Head from '@layouts/base/head.astro';
import Header from '@layouts/base/header.astro';

interface Props {
  title: string;
  description: string;
  class?: string;
}

const { title, description, class: className } = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <Head title={title} description={description} />
  </head>
  <body
    class="bg-white bg-gradient-to-b from-gray-100 to-white bg-[length:100%_600px] bg-no-repeat font-nanum-gothic text-gray-700 dark:bg-gray-900 dark:from-gray-800 dark:to-gray-900 dark:text-gray-300"
  >
    <Header />
    <main class:list={['mx-auto max-w-full px-8 py-8 lg:px-0', className]}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
