---
import StyledBlock from './styled-block.astro';
---

<StyledBlock title="주의" iconName="warning" color="yellow">
  <Fragment slot="content">
    <p>이 포스트는 초안입니다. 프로덕션에서 표시되지 않습니다.</p>
  </Fragment>
</StyledBlock>
