---
import StyledBlock from './styled-block.astro';

const { references } = Astro.props;

interface Props {
  references: Array<string>;
}
---

<StyledBlock title="참고 문헌" iconName="description">
  <ul>
    {
      references.map((reference) => (
        <li>
          <a href={reference} target="_blank" rel="noopener noreferrer">
            {reference}
          </a>
        </li>
      ))
    }
  </ul>
</StyledBlock>
