---
import StyledBlock from "./styled-block.astro";

interface Props {
  name: string;
  url: string;
}

const { name, url } = Astro.props;
---

<StyledBlock title="원문">
  <Fragment slot="icon">
    <svg class="inline" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9 18h6q.425 0 .713-.288T16 17q0-.425-.288-.713T15 16H9q-.425 0-.713.288T8 17q0 .425.288.713T9 18Zm0-4h6q.425 0 .713-.288T16 13q0-.425-.288-.713T15 12H9q-.425 0-.713.288T8 13q0 .425.288.713T9 14Zm-3 8q-.825 0-1.413-.588T4 20V4q0-.825.588-1.413T6 2h7.175q.4 0 .763.15t.637.425l4.85 4.85q.275.275.425.638t.15.762V20q0 .825-.588 1.413T18 22H6Zm7-14V4H6v16h12V9h-4q-.425 0-.713-.288T13 8ZM6 4v5v-5v16V4Z"/></svg>
  </Fragment>
  <Fragment slot="content">
    <a href={url} target="_blank" rel="noopener noreferrer">{name}</a>
  </Fragment>
</StyledBlock>