---
import StyledBlock from './styled-block.astro';

const { name, url } = Astro.props;

interface Props {
  name: string;
  url: string;
}
---

<StyledBlock title="원문" iconName="description">
  <a href={url} target="_blank" rel="noopener noreferrer">{name}</a>
</StyledBlock>
