---
import descriptionIcon from '@assets/icons/description.svg';
import StyledBlock from './styled-block.astro';

interface Props {
  name: string;
  url: string;
}

const { name, url } = Astro.props;
---

<StyledBlock title="원문" iconSrc={descriptionIcon}>
  <Fragment slot="content">
    <a href={url} target="_blank" rel="noopener noreferrer">{name}</a>
  </Fragment>
</StyledBlock>
