---
import Icon from 'astro-icon';
const { title, iconName, color = 'gray' } = Astro.props;

const COLORS: Colors = {
  gray: 'border-gray-300 bg-gray-100',
  yellow: 'border-yellow-300 bg-yellow-50',
  cyan: 'border-cyan-300 bg-cyan-50',
};

export interface Props {
  title: string;
  iconName: string;
  color?: ColorNames;
}

type Colors = {
  [ColorName in ColorNames]: string;
};

type ColorNames = 'gray' | 'yellow' | 'cyan';
---

<style is:global>
  .styled-block-content > *:first-child {
    margin-top: 0;
  }
  .styled-block-content > *:last-child {
    margin-bottom: 0;
  }
</style>

<div class:list={['rounded-lg border-l-[6px] p-4', COLORS[color]]}>
  <div>
    <Icon name={iconName} class="not-prose inline w-6" />
    <span class="ml-1.5 inline-block align-middle font-bold">{title}</span>
  </div>
  <div class="styled-block-content mt-3">
    <slot />
  </div>
</div>
