---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="rounded-lg border-l-[6px] bg-gray-100 p-4">
  <div>
    <slot name="icon" />
    <span class="ml-1.5 inline-block align-middle font-bold">{title}</span>
  </div>
  <div class="mt-1 first:prose-p:mt-0 last:prose-p:mb-0">
    <slot name="content" />
  </div>
</div>
