---
import Icon from 'astro-icon';
const { title, iconName, color = 'gray' } = Astro.props;

const COLORS: Colors = {
  gray: 'border-gray-300 bg-gray-100',
  yellow: 'border-yellow-300 bg-yellow-50',
  cyan: 'border-cyan-300 bg-cyan-50',
};

export interface Props {
  title: string;
  iconName: string;
  color?: ColorNames;
}

type Colors = {
  [ColorName in ColorNames]: string;
};

type ColorNames = 'gray' | 'yellow' | 'cyan';
---

<div class:list={['rounded-lg border-l-[6px] p-4', COLORS[color]]}>
  <div>
    <Icon name={iconName} class="not-prose inline w-6" />
    <span class="ml-1.5 inline-block align-middle font-bold">{title}</span>
  </div>
  <div
    class="mt-1 first:prose-p:mt-0 last:prose-p:mb-0 first:prose-ul:mt-0 last:prose-ul:mb-0"
  >
    <slot />
  </div>
</div>
