---
import Info from '@assets/icons/info.svg';
import { Image } from 'astro:assets';
const { title, color = 'gray' } = Astro.props;

const COLORS: Colors = {
  gray: 'border-gray-300 bg-gray-100',
  yellow: 'border-yellow-300 bg-yellow-50',
};

interface Props {
  title: string;
  color?: ColorNames;
}

type Colors = {
  [ColorName in ColorNames]: string;
};

type ColorNames = 'gray' | 'yellow';
---

<div class:list={['rounded-lg border-l-[6px] p-4', COLORS[color]]}>
  <div>
    <Image src={Info} alt="" class="not-prose inline h-6 w-6" />
    <span class="ml-1.5 inline-block align-middle font-bold">{title}</span>
  </div>
  <div class="mt-1 first:prose-p:mt-0 last:prose-p:mb-0">
    <slot name="content" />
  </div>
</div>
