---
import { getCollection } from 'astro:content';
import { toUrl } from 'src/utils/string';
import FormattedDate from './formatted-date.astro';

const posts = await getCollection('blog', ({ data }) => {
  if (import.meta.env.PROD && data.isDraft) {
    return false;
  }
  return true;
});
const sortedPosts = posts.sort(
  (a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf(),
);

type Props = Record<string, never>;
---

<ul class="flex flex-col space-y-5">
  {
    sortedPosts.map((post) => (
      <li>
        <a
          href={`/blog/${toUrl(post.data.title)}/`}
          class="font-noto-sans-kr text-2xl font-bold hover:text-cyan-600"
        >
          {post.data.title}
        </a>
        <p class="text-[15px] text-gray-500">
          <FormattedDate date={post.data.publishedDate} />
        </p>
      </li>
    ))
  }
</ul>
