---
import { getCollection } from "astro:content";
import FormattedDate from "./formatted-date.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf(),
);

type Props = Record<string, never>;
---

<ul class="flex flex-col space-y-5">
  {
    posts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}/`} class="text-2xl font-bold hover:text-cyan-600">
          {post.data.title}
        </a>
        <p class="text-gray-500 text-[15px]">
          <FormattedDate date={post.data.publishedDate} />
        </p>
      </li>
    ))
  }
</ul>
