---
import type { CollectionEntry } from 'astro:content';
import PostNavLink from './post-nav-link.astro';

const { olderPostData, newerPostData, class: className } = Astro.props;

interface Props {
  olderPostData?: CollectionEntry<'blog'>['data'];
  newerPostData?: CollectionEntry<'blog'>['data'];
  class?: string;
}
---

<nav class:list={['grid grid-cols-2 gap-4', className]}>
  {
    olderPostData ? (
      <PostNavLink type="older" postTitle={olderPostData.title} />
    ) : null
  }
  {
    newerPostData ? (
      <PostNavLink type="newer" postTitle={newerPostData.title} />
    ) : null
  }
</nav>
