---
import { getCollection } from 'astro:content';
import { toSlug } from 'src/utils/string';
import FormattedDate from './formatted-date.astro';
import TagList from './tag-list.astro';

const posts = await getCollection('blog', ({ data }) => {
  if (import.meta.env.PROD && data.isDraft) {
    return false;
  }
  return true;
});
const sortedPosts = posts.sort(
  (a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf(),
);

type Props = Record<string, never>;
---

<ul class="flex flex-col gap-5">
  {
    sortedPosts.map((post) => (
      <li>
        <div class="flex flex-col gap-1">
          <div>
            <a
              href={`/blog/${toSlug(post.data.title)}/`}
              class="font-noto-sans-kr text-2xl font-bold hover:text-cyan-600"
            >
              {post.data.title}
            </a>
          </div>
          {post.data.tags ? <TagList texts={post.data.tags} /> : null}
          <FormattedDate date={post.data.publishedDate} />
        </div>
      </li>
    ))
  }
</ul>
