---
import type { CollectionEntry } from 'astro:content';
import { toSlug } from 'src/utils/string';

const { type, postTitle } = Astro.props;

interface Props {
  type: 'older' | 'newer';
  postTitle: CollectionEntry<'blog'>['data']['title'];
}
---

<a
  href={`/blog/${toSlug(postTitle)}/`}
  class:list={[
    'flex gap-x-3 rounded-md border-2 p-3 hover:border-cyan-600',
    type === 'older'
      ? 'col-start-1 flex-row text-left'
      : 'col-start-2 flex-row-reverse text-right',
  ]}
>
  <div
    class:list={[
      'self-center text-2xl font-bold',
      type === 'older' ? 'before:content-["<"]' : 'before:content-[">"]',
    ]}
  >
  </div>
  <div class="flex flex-col gap-y-1">
    <div>{type === 'older' ? '이전' : '최신'} 포스트</div>
    <div class="font-bold">
      {postTitle}
    </div>
  </div>
</a>
