---
import type { CollectionEntry } from 'astro:content';
import { toSlug } from 'src/utils/string';

const { type, postTitle } = Astro.props;

interface Props {
  type: 'older' | 'newer';
  postTitle: CollectionEntry<'blog'>['data']['title'];
}
---

<a
  href={`/blog/${toSlug(postTitle)}/`}
  class:list={[
    'rounded-md border-2 p-3 hover:border-cyan-600',
    type === 'older' ? 'col-start-1 text-left' : 'col-start-2 text-right',
  ]}
>
  <div>{type === 'older' ? '이전' : '최신'} 포스트</div>
  <div class="mt-1 font-bold">
    {type === 'older' ? `< ${postTitle}` : `${postTitle} >`}
  </div>
</a>
