---
import Tag from './tag.astro';

const { texts } = Astro.props;

interface Props {
  texts: Array<string>;
}
---

<div class="flex flex-wrap gap-2">
  {texts.map((text) => <Tag text={text} />)}
</div>
