---
import Tag from './tag.astro';

const { texts, class: className } = Astro.props;

interface Props {
  texts: Array<string>;
  class?: string;
}
---

<div class:list={['flex flex-wrap gap-2', className]}>
  {texts.map((text) => <Tag text={text} />)}
</div>
